@font-face {
    font-family: 'B Nazanin', cursive;
    src: url('../fonts/BNazanin.ttf');
}

#header {

    height: 90px;
    font-family: 'B Nazanin', cursive;
    font-weight: bold;
    text-align: center;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    Border-radius: 7px;
    font-family: 'B Nazanin', cursive;
}

.button2 {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    Border-radius: 7px;
    font-family: 'B Nazanin', cursive;
}


.button:hover {
    background-color: green;
}

.button2:hover {
    background-color: green;
}

.form {
    position: relative;
    z-index: 1;
    background: #f2f2f2;
    max-width: 360px;
    margin: 0 auto;
    padding: 25px 45px 45px 45px;


    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    direction: rtl;
}

.form p {
    text-align: center;
    font-family: 'B Nazanin', cursive;
    direction: rtl;
    font-size: 24px;

}

.form table {
    margin-left: auto;
    margin-right: auto;
    font-family: 'B Nazanin', cursive;
    font-size: 18px;
}

body {
    background-image: url('../background/bodyBackground.png');
}


.navbar {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    float: right;
    text-align: center;
    font-family: 'B Nazanin', cursive;


}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.dropdown {
    float: right;
    overflow: hidden;
    direction: rtl;
    font-family: 'B Nazanin', cursive;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}