table {
    text-align: center;
    font-family: 'B Nazanin', cursive;
    font-size: 20px;
    margin: 0 auto 100px;
    align-content: center;
    mso-cellspacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
    direction: rtl;
}

td {
    border: 1px solid black;
    padding: 15px;
}

th {
    background: #ff5100;
    padding: 15px;
    border: 1px solid black;

}

tr:nth-child(even) {
    background: #C1C1C1
}

tr:nth-child(odd) {
    background: #FFFFFF
}